{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Amnesh</h1>
                            <span class="subheading">Good Better Best never let it rest. Till your good is better and your better is best.</span>
                            <p class="subheading">अच्छे के बेहतर और बेहतर के सबसे अच्छे हो जाने तक आराम नहीं होता।  </p>
                            <h6>- St. Jerome.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!-- Main Content-->
<hr>
      <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
<!--<p>{{params['about_text']}}</p>-->
                         <hr>
                        <h3 class="text-center">Our Vision</h3>
<p>"To produce such professionals who have global competence, vision, and skills as are necessary to meet the challenges of emerging global knowledge economy, by the power of innovation, creativity and efficient learning ability."</p>
                         <hr>

                         <h3 class="text-center">मन: सृष्टि</h3>
<p>" नवाचारी सर्जनात्मकता एवं दक्ष अधिगम योग्यता की शक्ति से संयुक्त वैश्विक सक्षमता, दृष्टि तथा कौशल से उभरते ज्ञान-अर्थतन्त्र की चुनोतियो के योग्य वृत्तिकों की प्रस्तुति।"</p>


                         <hr>

                         <h3 class="text-center">Our Mission</h3>
<p>
"To emerge among the top ten universities in India within next ten years through defining, implementing and operating dynamic - academic, administrative and functional procsses, for optimal use of available resources. "
</p>


                         <hr>

                         <h3 class="text-center">संकल्प</h3>
<p>
" आगामी दस वर्षों में उपलब्ध संसाधनों के इष्टतम उपयोग हेतु अकादमिक, प्रशासनिक एवं प्रकार्यात्मक प्रक्रियाओं की परिभाषा,कार्यान्वयन एवं प्रचलन को गत्यात्मक बनाकर भारतवर्ष के दस सर्वोच्च विष्वविद्यालयों में स्थान प्राप्ति। "</p>

                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->

{% endblock %}